body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
input {
  background-color: transparent;
  width: 100%;
}
input:focus {
  outline: none;
}
.peer:focus ~ span,
.peer:not(:placeholder-shown) ~ span {
  transform: translateY(-130%) scale(0.75);
}